body{
    background-color: #eaedf1;
}
.lf{
    float: left;
}
.ri{
    float: right;
}
.hidden{
    display: none;
}
.nav-list{
    padding: 0 15px;
    height: 50px;
    display: block;
    z-index: 2;
    font-size: 14px;
    line-height: 50px;
    text-decoration: none;
}
.visible li a{
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    text-align: left;
    font-size: 14px;
}
.nav .hover .visible{
    position: absolute;
    top: 50px;
    right: 0;
    width: 120px;
    overflow: hidden;
    height: auto;
    background-color: #191d21;
    visibility: hidden;
    z-index: 99999;
    opacity: 0;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;	/* Firefox 4 */
    -webkit-transition: opacity 0.5s;	/* Safari 和 Chrome */
    -o-transition: opacity 0.5s;	/* Opera */
}
/* 导航 */
.top-nav{
    background-color: #252a2f;
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 999!important;
}
.top-nav .logo .logo-img img{
    width: 32px;
    height: 32px;
    padding-top: 9px;
    padding-left: 10px;
}
.top-nav .logo .logo-text{
    height: 50px;
    color: #FFF;
    font-size: 16px;
}
.top-nav .logo .logo-text span{
    line-height: 50px;
    padding: 0 15px;
}
.nav .hover{
    position: relative;
    display: inline-block;
    color: #fff;
}
.nav .person .avator{
    padding: 0 12px;
    height: 50px;
    display: block;
    z-index: 2;
    font-size: 14px;
    line-height: 50px;
    text-decoration: none;
}
.nav .person .ava-img{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    border-radius: 50%;
}
.person .person-info{
    position: absolute;
    top: 50px;
    right: 0;
    width: 280px !important;
    overflow: hidden;
    height: auto;
    background-color: #191d21;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;	/* Firefox 4 */
    -webkit-transition: opacity 0.5s;	/* Safari 和 Chrome */
    -o-transition: opacity 0.5s;	/* Opera */
}
.person .person-info .first-info{
    padding: 10px 15px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}
.person .person-info .name{
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}
.person-info .first-info .first-three{
    font-size: 0;
    margin-top: 10px;
}
.person-info .first-info .first-three li{
    display: inline-block;
    width: 83.3px;
    text-align: center;
}
.first-three li:nth-child(1),.first-three li:nth-child(2){
    width: 82.3px !important;
    border-right: 1px solid hsla(0,0%,100%,.1);
}
.first-three li a{
    font-size: 12px;
    text-align: center;
    transition: color 0.5s;
    -moz-transition: color 0.5s;	/* Firefox 4 */
    -webkit-transition: color 0.5s;	/* Safari 和 Chrome */
    -o-transition: color 0.5s;	/* Opera */
}
.second-info li a{
    display: block;
    line-height: 32px;
    padding: 0 15px;
    height: 32px;
    width: 250px;
    text-align: left;
    padding-left: 25px;
    margin-left: 15px;
    background: url(../img_Backstage/small1.png) left no-repeat;
    background-size: 20px 20px;
}
.third-info{
    border-top: 1px solid hsla(0,0%,100%,.1);
    font-size: 16px;
}
.third-info a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.nav .shopping-cart a {
    padding: 0 12px;
    height: 50px;
    display: block;
    z-index: 2;
    font-size: 14px;
    line-height: 50px;
    text-decoration: none;
}
.nav .shopping-cart a img{
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
.nav .message .message-info{
    width: 330px;
}
.nav .message .nav-list .red-p{
    font-size: 12px;
    color: #fff;
    background: #f54743;
    border-radius: 5px;
    padding: 2px 4px;
    position: absolute;
    line-height: 1;
    top: 7px;
    right: 5px;
    z-index: 9;
    white-space: nowrap;
}
.nav .message .message-info .down-info{
    max-height: 266px;
    overflow: hidden;
}
.info-title{
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    padding: 0 15px;
    font-size: 16px;
}
.nav .message .message-info .down-info li a{
    padding: 10px 0;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}
.nav .message .message-info .down-info li a p{
    display: block;
    max-width: 300px;
    min-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 18px;
    height: 18px;
    padding: 0 15px;
    font-size: 12px;
}
.nav .message .message-info .down-info li a p:nth-child(2){
    margin: 2px 0 0 0;
    height: 10px;
    line-height: 10px;
    font-size: 12px;
    color: hsla(0,0%,100%,.85);
    opacity: .65;
}
.nav .message .message-info .read-more{
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 12px;
}
.nav .hover:hover{
    background-color: #191d21;
}
.nav .hover:hover .visible{
    visibility: visible;
    opacity: 1;
}
.visible a:hover{
    color: #00c1de;
}
.search .input-text{
    width: 100%;
    height: 26px;
    background: hsla(0,0%,100%,.12);
    position: relative;
    line-height: 26px;
    top: 12px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    float: right;
}
.search .input-text:hover ,.search .input-text:focus-within{
    border: 1px solid #00c1de;
    width: 120%;
}
.search .sea-box{
    min-width: 180px;
    position: relative;
    font-size: 12px;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 52px;
    width: 100%;
    height: 100%;
    outline: none;
    background: transparent;
    border: none;
    color: #fff;
    line-height: 26px;
}
.search .sea-icon{
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 2px;
    width: 22px;
    height:22px;
    background: url(../img_Backstage/search-1.png) center no-repeat;
    background-size: 15px 15px;
    padding-left: 10px;
    border-left: 1px solid hsla(0,0%,100%,.1);
}
.search .sea-icon:hover{
    background-image: url(../img_Backstage/search-2.png);
}
/* 左边导航栏 */
.left-nav{
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 50px;
    z-index: 1020!important;
    background-color: #252a2f;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
}
.left-nav:hover{
    width: 230px;
}
/* 方案1 */
.left-nav .nav ul li:hover{
    background-color: #00c1de;
}
.left-nav .nav ul li a{
    display: block;
    padding: 0px;
    width: 230px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.left-nav .nav ul li:nth-child(1) a{
    border-top: 1px solid hsla(0,0%,100%,.1);
}
.left-nav .nav ul li a i{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 9px;
    overflow: hidden;
    vertical-align: middle;
    background: url(../img_Backstage/icon1.png) left  no-repeat;
    background-size: 64px 32px;
}
.left-nav .nav ul li:hover a i{
    background-position: -32px 0;
}
/* 方案二 */
.left-nav .nav ul li:hover a{
    background-color: #252a2f;
    color: #00c1de;
}
.left-nav .nav ul li a i{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 15px;
    overflow: hidden;
    vertical-align: middle;
    background: url(../img_Backstage/icon1.png) left  no-repeat;
    background-size: 40px 20px;
}
.left-nav .nav ul li a.nav-1 i{
    background-image: url(../img_Backstage/icon1.png);
}
.left-nav .nav ul li a.nav-2 i{
    background-image: url(../img_Backstage/icon2.png);
}
.left-nav .nav ul li a.nav-3 i{
    background-image: url(../img_Backstage/icon3.png);
}
.left-nav .nav ul li a.nav-4 i{
    background-image: url(../img_Backstage/icon4.png);
}
.left-nav .nav ul li a.nav-5 i{
    background-image: url(../img_Backstage/icon5.png);
}
.left-nav .nav ul li a.nav-6 i{
    background-image: url(../img_Backstage/icon6.png);
}
.left-nav .nav ul li a.nav-7 i{
    background-image: url(../img_Backstage/icon7.png);
}
.left-nav .nav ul li:hover a i{
    background-position: -20px 0;
}
/* 内容 */
.content{
    position: relative;
    margin-top: 50px;
    padding: 0 336px 0 55px;
}
.content::after,.content::before,.content-one::after,.content-one::before,.content .inner .inner-lf::after,.content .inner .inner-lf::before,.inner::after,.inner::before
,.inner-block::after,.inner-block::before{
    content: "";
    display: table;
}
.content::after,.content-one::after,.content .inner .inner-lf::after,.inner::after,.inner-block::after{
    clear: both;
}
.content .content-lf{
    width: 100%;
    height: auto;
}
.content .content-lf .content-one{
margin: 16px 16px;
}
.content .content-lf .content-one-lf {
    width: 62%;
}
.content .content-lf .content-one-ri{
    width: 38%;
}
.content .inner{
    padding: 16px 16px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.content .content-lf .content-one-ri .inner{
    margin-left: 10px;
}
.content .inner .inner-lf{
    width: 60%;
}
.content .inner .inner-ri{
    width: 40%;
}
.content .inner .inner-title{
    font-size: 14px;
    margin-bottom: 10px;
}
.content .box{
    width: 33%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content  .pd{
    margin-right: 10px;
    height: 120px;
    background: #F5F5F6;
    border: 1px solid #F5F5F6;
}
.content  .pd:hover{
    background-color: #FFF;
    border-color: #00c1de;
}
.box .num{
    display: block;
    height: 60px;
    font-size: 32px;
    margin-top: 20px;
    color: #C6D0D4;
}
.box .text{
    display: block;
    padding-bottom: 10px;
}
.two .num{
    color: #FF0000;
}
.inner-ri ,.inner-lf{
    display: inline-block;
    vertical-align: top;
}
.content .inner-ri .box{
    width: 100%;
    height: 65px;
}
.content .inner-ri .box .pd{
    height: 55px;
}
.content .inner-ri .box .pd{
    text-align: left;
    font-size: 16px;
    line-height: 55px;
}
.content  .box .pd .text2{
    color: #333;
    padding: 0 15px;
}
.content  .box .pd .num2{
    font-size: 18px;
    color: #FF0000;
}
.content .inner-ri .box .pd .buy{
    font-size: 14px;
    color: #00c1de;
}
.content-one-ri .inner-block{
    width: 100%;
}
.content-one-ri .inner-block .box{
    width: 100%;
    margin-bottom: 5px;
}
.content-one-ri .box .pd{
    height: 36.2px;
    width: 100%;
    text-align: left;
    line-height: 36.2px;
}
.content-one-ri .box .pd .text2{
    font-size: 14px;
}
.content-one-ri .box .pd .num2{
    padding-right: 180px;
}
/* 第二部分 */
.content .content-two{
    margin: 0 16px;
}
.content-two .box{
    margin: -3px;
    display: inline-block;
}
.content-two .box .pd{
    height: 55px;
    line-height: 55px;
}
/* 第三 */
.content .content-three{
    margin: 16px 16px;
}
.content-three .inner{
    padding: 0;
}
.content-three .title{
    width: 100%;
    background-color: #f5f5f6;
}
.content-three .title li{
    display: inline-block;
    border-bottom: 2px solid transparent;
    height: 45px;
    line-height: 45px;
    background: none;
    -webkit-transition: all 0s 0.1s;
    transition: all 0s 0.1s;
    font-size: 14px;
    cursor: pointer;
}
.content-three .title li:hover{
    color: #00c5e5;
    border: none;
}
.content-three .title li.active{
    border-bottom: 2px solid #00C1DE;
    background: #f5f5f6;
    color: #00C1DE;
}
.content-three .title li span{
    display: inline-block;
    padding: 0 8px;
    margin: 0 8px;
}
.content-three .title .ext::after,.content-three .title .ext::after{
    content: "|";
    color: #EBECEC;
}
/* 内容 */
.my-content::after,.my-content::before,.my-content-1 .top::after,.my-content-1 .top::before{
    display: table;
    content: ""
}
.my-content::after,.my-content .top::after{
    clear: both;
}
.vertical-block{
    width: 33%;
}
.text-block {
    width: 100%;
    margin: 20px 0 0 30px;
}
.text-block p{
    font-weight: bold;
    font-size: 14px;
}
.text-block ul li:nth-child(1) a{
    margin-top: 10px;
}
.text-block ul li a{
    color: #333;
    display: block;
    font-size: 12px;
    height: 20px;
}
.text-block ul li a:hover{
    text-decoration: underline;
}
.my-content-1 .top{
    height: 300px;
}
.my-content-1 .read-more{
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #00C1DE;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #eaeaea;
}
.my-content-1 .read-more p:hover{
    text-decoration: underline;
}
/*  */
.my-content-2{
    background-color: #FFF;
}
.my-content-2 .inner-lf{
    width: 50% !important;
}
.my-content-2 .inner-lf .inner-title{
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-top: 50px;
    line-height: 40px;
    height: 40px;
}
.my-content-2 .pack-lf::after,.my-content-2 .pack-lf::before,.my-content-2 .pack-ri::before,.my-content-2 .pack-ri::after{
    content: "";
    display: table;
}
.my-content-2 .pack-lf::after,.my-content-2 .pack-ri::after{
    clear: both;
}
.my-content-2 .pack-lf{
    width: 50%;
    display: inline-block;
    padding: 10px 8px 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.my-content-2 .pack-ri{
    display: inline-block;
    width: 50%;
    padding: 10px 0 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.my-content-2 .content-2-lf{
    position: relative;
    width: 100%;
    margin-bottom: 45px;
    height: 140px;
    background: #F5F5F6;
    text-align: center;
}
.my-content-2 .content-2-ri{
    margin-bottom: 45px;
    width: 100%;
    height: 140px;
    background: #FFF;
}
.my-content-2 .content-2-lf p{
    position: absolute;
    left: 0;
    padding: 10px 20px;
    color: #666;
    font-size: 12px;
}
.my-content-2 .content-2-lf span{
    display: block;
    font-size: 22px;
    line-height: 125px;
    color: #666;
}
.my-content-2 .content-2-lf .fill{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #00C1DE;
}
.my-content-2 .content-2-lf .fill a{
    display: block;
}
.pack-ri .content-2-ri .across-block{
    width: 90%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #F5F5F6;
    border: 1px solid #FFF;
    font-size: 14px;
}
.pack-ri .content-2-ri .across-block:hover{
    background: #FFF;
    border: 1px solid #00C1DE;
}
.across-block a{
    padding: 0 20px;
    display: block;
    color: #666;
}
.pack-ri .content-2-ri .across-block:nth-child(1),.pack-ri .content-2-ri .across-block:nth-child(2){
    margin-bottom: 7px;
}
.my-content-2 .inner-ri .inner-title {
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-top: 50px;
    line-height: 40px;
    height: 40px;
}
.my-content-2 .inner-ri .recent-cost{
    width: 98%;
    height: 140px;
    padding: 10px 8px 10px 20px;
}
.recent-cost .across-block{
    width: 90%;
    height: 30px;
    line-height: 30px;
    text-align: left;
    background: #F5F5F6;
    border: 1px solid #FFF;
    font-size: 14px;
    float: right;
    transition: width 0.5s,height 0.5s;
    -moz-transition: width 0.5s,height 0.5s;	/* Firefox 4 */
    -webkit-transition: width 0.5s,height 0.5s;	/* Safari 和 Chrome */
    -o-transition: width 0.5s,height 0.5s;	/* Opera */
    
}
.recent-cost .across-block:hover{
   width: 95%;
   height: 40px;
   line-height: 40px;
   background:#00C1DE;
}
.recent-cost .across-block:hover a{
    color: #FFF;
}
/*  */
.my-content-3 .inner{
    width: 100%;
    background: #FFF !important;
    text-align: center;
}
.my-content-3 .inner .title{
    text-align: center;
    color: #666;
    background: #FFF !important;
    margin-top: 50px;
}
.my-content-3 .inner .title p:nth-child(1){
    font-size: 14px;
}
.my-content-3 .inner .title p{
    font-size: 12px;
    margin: 0 0 10px;
    padding: 0 20px;
}
.my-content-3 .content-block{
    padding: 10px 10px 25px 10px;
}
.my-content-3 .content-block::after,.my-content-3 .content-block::before{
    content: "";
    display: table;
}
.my-content-3 .content-block::after{
    clear: both;
}
.my-content-3 .content-block .block-lf,.my-content-3 .content-block .block-ri{
    width: 50%;
    height: 87px;
    background-color: #FFF;
}
.my-content-3 .content-block .bg-deep{
    background-color: #F5F5F6;
    height: 87px;
    margin:0 10px;
}
.bg-deep .deep-img{
    display: inline-block;
    width: 30%;
    max-width: 48px;
    height: 48px;
    background: url(../img_Backstage/pic.png) no-repeat;
    background-position: 0px -40px;
    margin: 19px 0;
    vertical-align: middle;
}
.bg-deep .text-ri{
    display: inline-block;
    width: 70%;
    text-align: left;
    vertical-align: middle;
}
.bg-deep .text-ri p{
    padding: 5px 0 0 10px;
    font-size: 12px;
}
.bg-deep .text-ri span{
    display: block;
    width: 100%;
    padding: 5px 0 0 10px;
    font-size: 12px;
    color: #666;
} 
.content-block .right-now{
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}
.content-block .right-now a{
    display: inline-block;
    margin:  7px 0;
    width: 90px;
    height: 35px;
    line-height: 35px;
    color: #FFF;
    background-color: #00C1DE;
    font-size: 12px;
}
/*右边 */
.content .content-ri{
    position: absolute;
    top: 15px;
    right: 0;
    width: 330px;
    height: auto;
}
.content .content-ri .firt-message{
    width: 100%;
    height: auto;
}
.content .content-ri .box-s{
    margin-right: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.content .content-ri .firt-message .first-title{
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #f5f5f5;
    text-align: left;
}
.firt-message .first-title li{
    display: inline-block;
}
.firt-message .first-title li span{
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    color: #666;
    padding-left: 16px;
    -webkit-transition: all 0s 0.1s;
    transition: all 0s 0.1s;
}
.firt-message .first-title li.active{
    border-bottom: 2px solid #00C1DE;
    background: #f5f5f6;
}
.firt-message .first-title li.active span{
    color: #00C1DE;
}
.firt-message .first-title li span:hover{
    color: #00C1DE;
}
.firt-message .first-title  span.ext::after{
    content: "|";
    padding-left: 16px;
    color: #EBECEC;
}
.first-list{
    padding-top: 20px;
    background-color: #fff;
}
.first-list li a {
    display: block;
    height: 14px;
    padding: 5px 10px;
    color: #666;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.firt-message .firse-list-more{
    padding: 10px 0 23px 12px;
    background-color: #fff;
}
.firt-message .firse-list-more a{
    color: #00C1DE;
    font-size: 12px;
}
.firt-message a:hover{
    text-decoration: underline;
}
/*  */
.content-ri .second-message{
    width: 100%;
    height: auto;
    margin-top: 17px;
}
.second-title{
    background-color: #FFF;
    padding: 20px  10px 10px 10px; 
    font-size: 14px;
    font-weight: bolder;
}
.second-title a{
    color: #00C1DE;
    font-size: 12px;
    font-weight: normal;
    padding-right: 20px;
}
.second-title a:hover{
    text-decoration: underline;
}
.second-content li{
    background-color: #FFF;
    padding-top: 8px;
    padding-bottom: 5px;
}
.second-block{
    height: 120px;
    margin: 0 20px;
    border: 1px solid #f2f2f2;
}
.second-block .second-block-lf{
    display: inline-block;
    width: 58px;
    height: 120px;
    text-align: center;
    background-color: #F5F5F6;
}
.second-block .second-block-lf img{
    width: 44px;
    height: 48px;
    padding: 36px 0;
    opacity: 0.5;
    transform: scale(0.5);
    -ms-transform: scale(0.5);		/* IE 9 */
    -webkit-transform: scale(0.5);	/* Safari and Chrome */
    -o-transform: scale(0.5);		/* Opera */
    -moz-transform: scale(0.5);		/* Firefox */
}
.second-block .second-block-ri{
    display: inline-block;
    background-color: #FFF;
    width: 210px;
    height: 120px;
    vertical-align: top;
}
.second-block .second-block-ri p{
    font-size: 14px;
    padding: 10px 10px;
}
.second-block .second-block-ri span{
    display: block;
    font-size: 12px;
    padding: 0 0 0 10px;
}
.second-block .second-block-ri a{
    margin: 10px 0 0 10px;
    display: block;
    width: 80px;
    height: 26px;
    border: 1px solid #00c1de;
    color: #00C1DE;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
}
.second-block .second-block-ri a:hover{
    background-color: #00C1DE;
    color: #FFF;
}
.second-block:hover{
    border: 1px solid #00c1de;
    box-shadow: 0 0 20px rgba(0,198,226,.5);
}
.second-block:hover .second-block-lf img {
    opacity: 1;
}
.second-content{
    background-color: #FFF;
    height: 450px;
}
.app {
    margin-top: 20px;
    margin-right: 10px;
    background-color: #fff;
}
.app .app-content{
    padding: 15px;
}
.app .app-content img{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.app .app-content .app-text{
    display: inline-block;
    width: 180px;
    vertical-align: top;
}
.app .app-content .app-text p{
    font-size: 18px;
    font-weight: 500;
    padding: 5px 5px 0 10px;
}
.app .app-content .app-text span{
    display: block;
    font-size: 12px;
    padding: 5px 5px 10px 10px;
}
.content-four{
    margin: 16px;
    background-color: #FFF;
}
.content-four .like-title{
    padding: 10px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    color: #666;
    overflow: hidden;
    margin-bottom: 12px;
}

.content-four .like-title a{
    display: inline-block;
    color: #06c;
    font-size: 12px;
    padding-right: 16px;
}
.content-four .like-title a{
    background: url(../img_Backstage/cir.png) right no-repeat;
    background-size: 14px 12px;
}
.content-four .like-content{
    margin: 0 16px 16px 16px;
    border: 1px solid #f2f2f2;
}
.content-four .like-content .like-content-top{
    border-bottom: 1px solid #f2f2f2;
}
.like-content-top::after,.like-content-top::before{
    content: "";
    display: table;
}
.like-content-top::after{
    clear: both;
}
.content-four .like-content .like-content-top{
    font-size: 0;
}
.content-four .like-content .like-content-top img{
    vertical-align: top;
    width: 40%;
    padding: 16px;
    width:-moz-calc(40% - 32px);
    width:-webkit-calc(40% - 32px);
    width: calc(40% - 32px);
    max-width: 330px;
    height: 180px;
}
.content-four .like-content .like-content-top .like-text{
    padding: 16px;
    width:-moz-calc(60% - 32px);
    width:-webkit-calc(60% - 32px);
    width: calc(60% - 32px);
}
.like-text .like-text-1{
    font-size: 14px;
    color: #06c;
    font-weight: 700;
}
.like-text .like-text-2{
    font-size: 12px;
    color: #8b8c8c;
}
.like-text .like-text-3{
    font-size: 12px;
    color: #666;
}
.like-text .like-text-4{
    font-size: 12px;
    color: #ff8a00;
}
.like-text .like-1{
    padding: 5px 0 10px 0;
}
.like-text .like-2{
    padding: 15px 0 10px 0;
}
.like-3  span{
    padding-right: 20px;
}
.like-content .like-content-bottom{
    background-color: #f9fafc;
    text-align: center;
    height: 50px;
}
.like-content .like-content-bottom a{
    display: inline-block;
    color: #00C1DE;
    width: 67px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #00c1de;
    margin: 10px 0;
}
.like-content .like-content-bottom a:hover{
    background-color: #00c1de;
    color: #FFF;
}
.like-inner::after,.like-inner::before{
    content: "";
    display: table;
}
.like-inner::after{
    clear: both;
}
/*  */
.content-one .content-one-ri .inner-block{
    position: relative;
    height: 130px;
}
.content-one .content-one-ri .inner-block .yuan img{
    position: absolute;
    right: 5%;
    top: -35px;
    height: 170px;
    animation: cir 1s linear infinite ;
    -moz-animation: cir 1s linear infinite ;	/* Firefox */
    -webkit-animation: cir 1s linear infinite ;	/* Safari 和 Chrome */
    -o-animation: cir 1s linear infinite ;	/* Opera */
}
@keyframes cir{
    0%{ 
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);		/* IE 9 */
        -webkit-transform: rotate(0deg);	/* Safari and Chrome */
        -o-transform: rotate(0deg);		/* Opera */
        -moz-transform: rotate(0deg);		/* Firefox */
    }
    50%{
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);		/* IE 9 */
        -webkit-transform: rotate(180deg);	/* Safari and Chrome */
        -o-transform: rotate(180deg);		/* Opera */
        -moz-transform: rotate(180deg);		/* Firefox */
    }
    100%{
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);		/* IE 9 */
        -webkit-transform: rotate(360deg);	/* Safari and Chrome */
        -o-transform: rotate(36deg);		/* Opera */
        -moz-transform: rotate(360deg);		/* Firefox */
    }
}
.content-one .content-one-ri .inner-block .yuan .day{
    position: absolute;
    z-index: 997;
    right:-moz-calc(5% + 64px);
    right:-webkit-calc(5% + 64px);
    right: calc(5% + 64px);
    top: 40px;
    color: #333;
}
.time-lf{
    height: 70px;
    padding: 15px 0 30px 0;
    font-weight: 500;
    color: #00c1de;
}
.time-lf p{
    line-height: 35px;
}