body{
    background-color: #FFF;
}
.content{
    padding: 0 0 0 60px;
}
.personDate{
    padding: 0 20px 0 10px;
    width: -moz-calc(100% - 30px); 
    width: -webkit-calc(100% - 30px); 
    width: calc(100% - 30px); 
}
.personDate .alert-infos{
    padding: 0 12px;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    margin-top:20px;
    border-radius: 0px;
    color: #555;
    background-color: #F9F9F9;
    border: 1px solid transparent;
    border-color: #DDD;
}
.personDate .info-block{
    margin-top: 20px;
    font-size: 0;
}
.personDate .info-block .info-block-list{
    padding: 8px  0 0 0;
}
.personDate .info-block h5{
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}
.personDate .info-block .com-1{
    display: inline-block;
    width: 95px;
    height: 17px;
    line-height: 17px;
    padding: 7px 15px 0 0;
    text-align: right;
    font-size: 12px;
}
.personDate .info-block .text-must{
    color: #F00 !important;
    padding-right: 4px;
}
.personDate .info-block .text-name{
    padding: 0 2px;
}
.personDate .info-block .com-2{
    display: inline-block;
}
.personDate .info-block .com-2 .text-sex{
    font-size: 12px !important;
    padding-right: 10px;
    color: #333333;
}
.personDate .info-block .com-2 input[type=radio]{
    cursor: pointer;
    vertical-align: top;
}
.personDate .info-block .com-2 .unchange{
    font-size: 12px;
    color: #333333;
}
.personDate .info-block .com-2 .input-text{
    height: 24px;
    width: 300px;
    margin: 5px 0;
    border: 1px solid #cccccc;
    color: #555555;
    font-size: 12px;
}
.personDate .info-block .com-2 .input-ph{
    width: 150px;
}
.personDate .info-block .com-2 .remark{
    width: 500px;
    height: 150px;
    vertical-align: -95px;
    resize: none;
    border: 1px solid #cccccc;
}
.personDate .save-btn{
    display: block;
    margin-left: 110px;
    margin-top: 30px;
    text-align: center;
    width: 60px;
    height: 32px;
    color: #fff;
    border: 1px solid #09c;
    background-color: #09c;
    cursor: pointer;
    outline: 0;
}
.personDate .save-btn:hover{
    border: 1px solid #28b5d6;
    background-color: #28b5d6;
}